<div class="container">

  <div class="row ">
    <!-- Book -->
    <div class=" mt-5 topcard col-lg-4">
      <div class="card imagecard">
          <div class="card-img">
            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1622355533i/4667024.jpg" alt="">
          </div>
          <div class="card-body">
          <div class="button">
            <div class="">Take This Book</div>
            <br>
            <div class="">Buy on Amazon</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Details -->
    <div class="col-lg-8 topcard mt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="title">
            <h1>The Help</h1>
          </div>
          <div class="author">
            <p id="author">Kathryn Stockett</p>
          </div>
          <div class="description">
            <p>
eturned home after graduating from Ole Miss. She may have a degree, but it is 1962,               Twenty-two-year-old Skeeter has just r
              Mississippi, and her mother will not be happy till Skeeter has a ring on her finger. Skeeter would normally find solace with her
               beloved maid Constantine, 
              the woman who raised her, but Constantine has disappeared and no one will tell Skeeter where she has gone.
            </p>
          </div>
          <div class="genre">
            <p>Genres <span id="genre">Fiction</span></p>
          </div>
          <div class="pages">
            <p id="pages">464 pages, Hardcover</p>
          </div>
          <div class="published">
            <p id="published">First publised February 10, 2009</p>
          </div>
          <div class="line"></div>
          <div class="people">
            <div class="row">
              <div class="col-6">
                <p >5 people are currently reading</p>
              </div>
              <div class="col-6">
                <p>30 people took this book</p>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="aboutauthor">
            <h4>About the author</h4>
            <div class="row">
              <div class="col-lg-2 authorimage">
                <img class="rounded-circle roundedimage" alt="avatar1" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/authors/1233458107i/1943477._UX200_CR0,50,200,200_.jpg" />
              </div>
              <div class="col-lg-6 nameauthor">
                <p id="Kathryn">Kathryn Stockett</p>
                <p id="threebook">3 books. 50 followers</p>
              </div>
            </div>
          </div>
        </div> <!--stop here-->
      </div>
    </div>
  </div>

    <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card" >
          <div class="card-body">
              <h1 class="card-title text-center">{{Books.title}}</h1>
              <p class="fw-bold text-danger">{{Books.genre}}</p>
              <p>by: <strong>{{Books.author}}</strong></p>
              <p>Published date : <strong>{{Books.publicationDate}}</strong></p>
              <p>{{Books.about}}</p>
          <img class="img-fluid l contentimage" [src]="Books.image" alt="Card image cap">
          </div>
          <div>
            <form (ngSubmit)="takeBook(Books)">
            <button type="submit" class="btn btn-success text-center">Take This Book</button>
          </form>
          </div>
        </div>
        
      </div>
  </div> -->
  
</div> 