<div class="container">

  <div class="row ">
    <!-- Book -->
    <div class=" mt-5 topcard col-lg-4">
      <div class="card border-0 imagecard">
          <div class="card-img">
            <img class="card-img-top img-fluid" [src]="Books.image" alt="">
          </div>
          <div class="card-body">
            <form (ngSubmit)="takeBook(Books)">
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-success  takebookbutton">Take This Book</button>
          </div>
        </form>
        </div>
      </div>
      
    </div>
    <!-- Details -->
    <div class="col-lg-8 topcard mt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="title">
            <h1>{{Books.title}}</h1>
          </div>
          <div class="author">
            <p id="author">{{Books.author}}</p>
          </div>
          <div class="description">
            <p>
              {{Books.about}}
            </p>
          </div>
          <div class="genre">
            <p><span id="genres">Genres</span><span id="genre">{{Books.genre}}</span></p>
          </div>
          <div class="pages">
            <p id="pages">464 pages, Hardcover</p>
          </div>
          <div class="published">
            <p id="published">First publised: {{Books.publicationDate}}</p>
          </div>
          <div class="line"></div>
          <div class="people">
            <div class="row">
              <div class="col-6">
                <p >5 people are currently reading</p>
              </div>
              <div class="col-6">
                <p>30 people took this book</p>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="aboutauthor">
            <h4>About the author</h4>
            <div class="row">
              <div class="col-lg-2 authorimage">
                <img class="rounded-circle roundedimage" alt="avatar1" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/authors/1233458107i/1943477._UX200_CR0,50,200,200_.jpg" />
              </div>
              <div class="col-lg-6 nameauthor">
                <p id="Kathryn">{{Books.author}}</p>
                <p id="threebook">3 books. 50 followers</p>
              </div>
            </div>
            <div class="auhtorabout mt-3">
              <p>
                {{Books.author}} was born and raised in Jackson, Mississippi. After graduating from the University of Alabama with a degree in English and creative writing, she moved to New York City, where she worked in magazine publishing for nine years. She currently lives in Atlanta with her husband and daughter. She is working on her second novel.
              </p>
            </div>
          </div>
        </div> <!--stop here-->
      </div>
    </div>
  </div>
</div> 