<div class="container">
    <div class="row">
    <div class="col draft">
        <!-- <p>Draft in <strong>{{username}}</strong></p> -->
    </div>
        <div class="col-sm-12 text-center">
        <button class="btn btn-danger m-3" [mat-dialog-close]="true" type="button"  id="button" value="discard" form="a-form">Discard</button>
        <button class="btn btn-warning m-3" type="reset"  id="button" value="reset" form="a-form">Reset</button>
        <button class="btn btn-success m-3" type="submit"  id="button" value="Submit" form="a-form">Add Book</button>
    </div>
      
</div>

<form (ngSubmit)="onBookSubmit()" id="a-form" #books = ngForm>
    
    <mat-dialog-content>
    <div class="form-group">
        <label for="title"></label>
        <input type="text" name="title" [(ngModel)]="Book.title" id="title" class="form-control fw-bold" placeholder="Title" required>
    </div>

    <div class="form-group">
        <label for="image"></label>
        <input type="url" name="image" id="image" [(ngModel)]="Book.image" class="form-control " placeholder="Image URL">
    
        <div class="img">
            <img [src]="Book.image" class="img-fluid image" alt="Image">
        </div>
    </div> 

    <div class="form-group">
        <label for="author"></label>
        <input type="text" name="author" [(ngModel)]="Book.author" id="author" class="form-control" placeholder="Author" required>
    </div>

    <div class="form-group">
        <label for="genre"></label>
        <input type="text" name="genre" [(ngModel)]="Book.genre" id="genre" class="form-control" placeholder="Genre" >
    </div>

    <div class="form-group">
        <label for="publicationDate">Publication Date</label>
        <input type="date" placeholder="dd-mm-yyyy" name="publicationDate" [(ngModel)]="Book.publicationDate" id="publicationDate" class="form-control"  >
    </div>

    <div class="form-group">
        <label for="about"></label>
        <textarea name="about" id="about" class="form-control" [(ngModel)]="Book.about" cols="20" rows="10" placeholder="Brief Story About the Book..."></textarea>
    </div> 

</mat-dialog-content>
    
</form>
</div>
