<div class="container">
    <div class="row">
        <div class="col-lg-3 mt-5">
            <!-- Card 1 -->
            <div class="line"></div> <!--Black Line-->
            <div class="card mt-3">
                <div class="card-image-top">
                    <img src="https://s3.amazonaws.com/loa-production-23ffs35gui41a/articles/images/000/001/998/side_listing_big/Mugnaini-FSF.jpg?1667863078" alt="">
                </div>
                <div class="card-body">
                    <div class="card-text text-danger fw-bold">NEWS</div>
                    <div class="card-title">
                        Joseph Mugnaini and Ray Bradbury: “A real twin relationship”
                    </div>
                </div>
            </div> 
            <!-- Card 2 -->
            <div class="line mt-5"></div>
            <div class="card mt-3">
                <div class="card-image-top">
                    <img src="https://s3.amazonaws.com/loa-production-23ffs35gui41a/articles/images/000/001/986/side_listing_big/Hijuelos-event.png?1663264999" alt="">
                </div>
                <div class="card-body">
                    <div class="card-text text-danger fw-bold">VIDEO</div>
                    <div class="card-title">
                        A Celebration of Oscar Hijuelos
                    </div>
                </div>
            </div> 
        </div>


        <div class="col-lg-6 mt-5">
            <div class="line"></div>
            <!-- Main Card -->
            <div class="card mt-3">
                <div class="card-image-top ">
                    <img class="main-image img-fluid" src="https://s3.amazonaws.com/loa-production-23ffs35gui41a/articles/images/000/001/997/home_featured_big/Bradbury-cropped.jpg?1667845784" alt="">
                </div>
                <div class="card-body">
                    <div class="card-text text-danger fw-bold">INTERVIEWS</div>
                    <div class="card-title main-text">
                        Jonathan R. Eller on Ray Bradbury's journey from the pulps to the slicks
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-lg-3 mt-5">
                <!-- Card 1 -->
                <div class="line"></div> <!--Black Line-->
                <div class="card mt-3">
                    <div class="card-image-top">
                        <img class="main-image img-fluid" src="https://s3.amazonaws.com/loa-production-23ffs35gui41a/articles/images/000/001/997/home_featured_big/Bradbury-cropped.jpg?1667845784" alt="">

                    </div>
                    <div class="card-body">
                        <div class="card-text text-danger fw-bold">STORY OF THE WEEK</div>
                        <div class="card-title">
                            Joanna Russ, “When It Changed”
                        </div>
                    </div>
                </div> 
                <!-- Card 2 -->
                <div class="line mt-5"></div>
                <div class="card mt-3">
                    <div class="card-image-top">
                        <img src="https://s3.amazonaws.com/loa-production-23ffs35gui41a/articles/images/000/001/984/side_listing_big/Plymouth.jpg?1664951991" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-text text-danger fw-bold">INTERVIEWS</div>
                        <div class="card-title">
                            Stories of colonization and continuance—a new perspective on Plymouth Colony
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </div>

