<div [ngStyle]="{'background': 'linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147))'}">

<div class="container">
    <!-- Contents -->
    <div class="row">
      <h3 class="fw-bold text-center mt-5 text-primary maintitle">Books Waiting To Be Issued</h3>

        <div class="col-lg-3 mb-4 d-flex align-items-stretch" *ngFor='let book of books'>
            <div class="card shadow" >
              <div class="card-header">
              </div>
                <img  class="card-img-top img-fluid img-thumbnail" [src]="book.image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mb-4">{{book.title}}</h5>
                  </div>
         
                    <div class="card-footer">
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>